* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.acordeon {
    width: 90%;
    max-width: 120em;
    background-color: lightskyblue;
    padding: 2em;
}

.acordeon .bloque {
    background-color: red;
    margin: 0 0 1em;
    padding: 1em;
}

.acordeon .h2 {
    background-color:  limegreen;
    margin: 0 0 1em;
    padding: 1em;
}

.acordeon .contenido {
    background-color: pink;
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all .5s ease;
}

.acordeon .bloque.activo .contenido {
    height: 4em;
}